@import url(reset.css);
.wrapper{
    background-color: #445162;
}
.container {
    max-width: 1180px;
    height: 323px;
    display: flex;
    /* padding-bottom: 53px; */
    color: #fff;
    padding-top: 58px;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 49px;

}
.block1 h2 {
    margin-bottom: 30px;
    font-size: 60px;
}
.block1 ul li{
    font-size: 20px;
    line-height: 36px;
    padding-left: 15px;
}
.container2{
    max-width: 1180px;
    display:flex;
    justify-content: space-between ;
    height: 290px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.block3{
    margin-right: 39px;
}


.block4 h3{
    color: #445161;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 37px;
}
.block4 p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    width: 656px;
}
.wrapper2{
    background-color: #f5f5f5;
}
.container3{
    max-width: 1180px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 15px;
    padding-bottom: 50px;
    margin-bottom: 47px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.block{
    width: 360px; 
    height: 110px;
}
.title{
    color: #445161;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 31px;  
}
 .block::first-line{
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    display: inline-block;
}  
.tort{
    width: 200px;
    height: 150px;
    background-color: #445161;
}
.container4{
    max-width: 1180px;
    display: flex;
    justify-content:center;
    column-gap: 50px;
    text-align: center;
    margin-top: 27px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 50px;
    padding: 15px 100px;
}
.blok3{
    width: 300px;
    height: 500px;
    background-color: #445162;
    border: 2px solid #445162;
    border-radius: 5px;
}
h1{
    color: #fff; 
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 12px;
}
span{
    display: block;
    background-color: #fff;
    font-size: 40px;
    
}
p{
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 74px;
}
.bir{
    padding-bottom: 215px;
}
.ikki{
    padding-bottom: 20px;
}
.uch{
    padding-bottom: 145px;
}
a{
    border-radius: 3px;
    background-color: #fff;
    color: #445162;
    font-size: 18px;
    padding: 15px 67px;
    /* align-self: end; */
}
h6{
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #445162;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
}


